$color-primary-dark-cyan: hsl(158, 36%, 37%);
$color-primary-cream: hsl(30, 38%, 92%);

$color-neutral-very-dark-blue: hsl(212, 21%, 14%);
$color-neutral-dark-grayish-blue: hsl(230, 11%, 57%);
$color-neutral-white: hsl(0, 0%, 100%);
