@use "../variables/colors";
@use "../variables/typography";

body {
  background-color: colors.$color-primary-cream;
  font-family: typography.$font-family-paragraph, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
